.aider*
.venv
.DS_Store
.env
.hypothesis
RNApolis.egg-info
__pycache__
dist
build

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.idea
src/dnatco_process_all.sh
