name: Python application

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dev_requirements.txt
        pip install -r requirements.txt
        pip install -r test_requirements.txt

    - name: Download and extract HiGHSstatic
      run: |
        wget https://github.com/JuliaBinaryWrappers/HiGHSstatic_jll.jl/releases/download/HiGHSstatic-v1.8.1%2B0/HiGHSstatic.v1.8.1.x86_64-linux-gnu-cxx11.tar.gz
        mkdir "${HOME}/.local"
        tar xfz HiGHSstatic.v1.8.1.x86_64-linux-gnu-cxx11.tar.gz -C "${HOME}/.local"
        echo "${HOME}/.local/bin" >> "${GITHUB_PATH}"

    - name: Test with pytest
      run: |
        PYTHONPATH=src/ pytest

  auto-merge-dependabot-non-major-updates:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    permissions:
      pull-requests: write
      contents: write
      checks: write
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Enable auto-merge for Dependabot PRs
        if: ${{ steps.metadata.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
